@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }

  body {
    background-color: #f6f6f6;
  }

  header {
    @apply bg-[url('../assets/images/airplane-taking-off-sunset.png')] bg-cover
  }
}

@layer components {
  .btn-primary {
    @apply text-brand-dark bg-brand-primary px-7.5 rounded-full py-3 text-base font-bold transition-shadow duration-300;
  }

  .btn-primary:hover {
    box-shadow: 0 10px 20px #b88dffb3;
  }

  .btn-dropdown {
    @apply text-brand-dark hover:text-brand-primary flex items-center gap-x-[10px] text-[22px] font-semibold;
  }

  .btn-big {
    @apply text-brand-dark bg-brand-primary px-7.5 h-[108px] rounded-[18px] py-3 text-2xl font-bold transition-shadow duration-300;
  }

  .separator {
    @apply h-15 border-e border-[#EDE8F5];
  }

  .slider {
    @apply animate-slider;
  }

  .slider > img {
    @apply opacity-50 transition-opacity duration-100 hover:opacity-100;
  }
}

@layer utilities {
  .heading-1 {
    @apply text-[80px] leading-[90px];
  }

  .heading-2 {
    @apply text-[32px] font-bold;
  }
}
